html, body {
 height: 100%;
}
h1 {
  color: rgb(160, 32, 240);
}

#app {
    height: 100% !important;
}

.message-history-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-area {
    flex: 1 0 auto;
}

.pagination {
  display: flex;
  list-style: none;
  cursor: pointer;
  flex-shrink: 0;
  background-color: #F0F0F0;
}

.pagination a {
  padding: 1em 1.5em;
  border-radius: 2px;
  border: 1px solid rgb(160, 32, 240);
  color: rgb(160, 32, 240);
  display: inline-block;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #fff;
  background: rgb(160, 32, 240);
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}
